<section id="services" class="white">
  <div class="container">
    <div class="gap"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="center gap fade-down section-heading">
          <h2 class="main-title">{{ .Site.Params.estructuras.title }}</h2>
          <hr>
          <p>{{ .Site.Params.estructuras.subtitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 fade-up">
        <p>{{ .Site.Params.estructuras.paragraph1 }}</p>
        <p>{{ .Site.Params.estructuras.paragraph2 }}</p>
      </div>
    </div>
    <div class="gap"></div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="service-block">
          <div class="pull-left bounce-in">
            <i class="fa fa-project-diagram fa fa-md"></i>
          </div>
          <div class="media-body fade-up">
            <h3 class="media-heading">{{ .Site.Params.estructuras.punto1.title }}</h3>
            <ul>
              <li>{{ .Site.Params.estructuras.punto1.point1 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point2 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point3 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point4 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point5 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point6 }}</li>
              <li>{{ .Site.Params.estructuras.punto1.point7 }}</li>
            </ul>
          </div>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-12">
          <div class="service-block">
            <div class="pull-left bounce-in">
              <i class="fa fa-calculator fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading">{{ .Site.Params.estructuras.punto2.title }}</h3>
              <ul>
                <li>{{ .Site.Params.estructuras.punto2.point1 }}</li>
                <li>{{ .Site.Params.estructuras.punto2.point2 }}</li>
                <li>{{ .Site.Params.estructuras.punto2.point3 }}</li>
              </ul>
              </div>
            </div>
          </div><!--/.col-md-4-->
                 <div class="col-md-4 col-sm-12">
                     <div class="service-block">
                         <div class="pull-left bounce-in">
                             <i class="fa fa-city fa fa-md"></i>
                         </div>
                         <div class="media-body fade-up">
                             <h3 class="media-heading">{{ .Site.Params.estructuras.punto3.title }}</h3>
                             <ul>
                                 <li>{{ .Site.Params.estructuras.punto3.point1 }}</li>
                                 <li>{{ .Site.Params.estructuras.punto3.point2 }}</li>
                                 <li>{{ .Site.Params.estructuras.punto3.point3 }}</li>
                                 <li>{{ .Site.Params.estructuras.punto3.point4 }}</li>
                                 <li>{{ .Site.Params.estructuras.punto3.point5 }}</li>
                             </ul>
                         </div>
                     </div>
                 </div><!--/.col-md-4-->
             </div><!--/.row-->

             <div class="row">

                 <div class="col-md-4 col-sm-12">
                     <div class="service-block">
                         <div class="pull-left bounce-in">
                             <i class="fa fa-globe fa fa-md"></i>
                         </div>
                         <div class="media-body fade-up">
                             <h3 class="media-heading">{{ .Site.Params.estructuras.punto4.title }}</h3>
                             <p>{{ .Site.Params.estructuras.punto4.paragraph }}</p>
                         </div>
                     </div>
                 </div><!--/.col-md-4-->
                 <div class="col-md-4 col-sm-12">
                     <div class="service-block">
                         <div class="pull-left bounce-in">
                             <i class="fa fa-briefcase fa fa-md"></i>
                         </div>
                         <div class="media-body fade-up">
                             <h3 class="media-heading">{{ .Site.Params.estructuras.punto5.title }}</h3>
                             <p>{{ .Site.Params.estructuras.punto5.paragraph }}</p>
                         </div>
                     </div>
                 </div><!--/.col-md-4-->
                 <div class="col-md-4 col-sm-12">
                     <div class="service-block">
                         <div class="pull-left bounce-in">
                             <i class="fa fa-tasks fa fa-md"></i>
                         </div>
                         <div class="media-body fade-up">
                             <h3 class="media-heading">{{ .Site.Params.estructuras.punto6.title }}</h3>
                             <p>{{ .Site.Params.estructuras.punto6.paragraph }}e</p>
                         </div>
                     </div>
                 </div><!--/.col-md-4-->
             </div><!--/.row-->
         </div>
         <div class="gap"></div>


</section>
