<section id="portfolio" class="white">
       		<div class="container">
	        	<div class="gap"></div>
		        	<div class="center gap fade-down section-heading">
		                <h2 class="main-title">Proyectos                        </h2>
		                <hr>
		                <p> A continuación se muestra una selección de nuestros proyectos más significativos:</p>
		            </div>
<ul class="portfolio-filter fade-down center">
                        <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">Todo</a></li>
                        <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".estructuras">Estructuras Civiles</a></li>
                        <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".business">Business & Corporate</a></li>

                    </ul><!--/#portfolio-filter-->

                    <ul class="portfolio-items col-3 isotope fade-up">
                        <li class="portfolio-item estructuras isotope-item">
                            <div class="item-inner">
                                <img src="images/portfolio/folio01.jpg" alt="ikea" >
                                <h5>Servicios Técnicos // IKEA</h5>
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" title="Realización de informes técnicos estructurales de tiendas y centros de distribución en España" href="images/portfolio/folio01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </li><!--/.portfolio-item-->

                        <li class="portfolio-item business isotope-item">
                            <div class="item-inner">
                                <img src="images/portfolio/folio93.jpg" alt="">
                                <h5>Implantación y Gestión // Prelima</h5>
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" title="Creación sociedad productora de estructuras prefabricadas de hormigón en Perú. Gestión de negocio. Implantación industrial. Implantación industrial. Soporte de oficina técnica desde España. Puesta en marcha." href="images/portfolio/folio93.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </li><!--/.portfolio-item-->
                        <li class="portfolio-item business isotope-item">
                            <div class="item-inner">
                                <img src="images/portfolio/folio94.jpg" alt="">
                                <h5>Servicios Técnicos // Repsol</h5>
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" title="Realización de informes técnicos estructurales" href="images/portfolio/folio94.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </li><!--/.portfolio-item-->
                        <li class="portfolio-item estructuras isotope-item">
                            <div class="item-inner">
                                <img src="images/portfolio/folio05.png" alt="">
                                <h5>Agencia Comercial // Betafiel</h5>
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" title="Agentes comerciales en exclusiva en el territorio español de elementos prefabricados de hormigón para formación de estructuras" href="images/portfolio/folio05.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </li><!--/.portfolio-item-->



                    </ul>
                </div>
            </section>
