<section id="stats" class="divider-section">
     <div class="gap"></div>
     <div class="container">
         <div class="row">
             <div class="col-md-3 col-xs-6">
                 <div class="center bounce-in">
                     <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                     <h1>+<span class="counter">{{ .Site.Params.stats.punto1.counter }}</span></h1>
                     <h3>{{ .Site.Params.stats.punto1.title }}</h3>
                 </div>
             </div>
             <div class="col-md-3 col-xs-6">
                 <div class="center bounce-in">
                     <span class="stat-icon"><span class="pe-7s-note2 bounce-in"></span></span>
                     <h1>+<span class="counter">{{ .Site.Params.stats.punto2.counter }}</span></h1>
                     <h3>{{ .Site.Params.stats.punto2.title }}</h3>
                 </div>
             </div>
             <div class="col-md-3 col-xs-6">
                 <div class="center bounce-in">
                     <span class="stat-icon"><span class="pe-7s-portfolio bounce-in"></span></span>
                     <h1>+<span class="counter">{{ .Site.Params.stats.punto3.counter }}</span></h1>
                     <h3>{{ .Site.Params.stats.punto3.title }}</h3>
                 </div>
             </div>
             <div class="col-md-3 col-xs-6">
                 <div class="center bounce-in">
                     <span class="stat-icon"><span class="pe-7s-users bounce-in"></span></span>
                     <h1>+<span class="counter">{{ .Site.Params.stats.punto4.counter }}</span></h1>
                     <h3>{{ .Site.Params.stats.punto4.title }}</h3>
                 </div>
             </div>
         </div>
     </div>
     <div class="gap"></div>
 </section>
