<!DOCTYPE html>
<html>
<head>

	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}
	{{ partial "slider.html" . }}
	<div id="content-wrapper">
	{{ partial "estructuras.html" . }}
	{{ partial "catchphrase.html" . }}
	{{ partial "business.html" . }}
	{{ partial "stats.html" . }}
	{{ partial "about_us.html" . }}
	{{ partial "trust_us.html" . }}
	{{ partial "portfolio.html" . }}
	{{ partial "map.html" . }}
	{{ partial "contact.html" . }}
	{{ partial "footer.html" . }}

</body>
</html>
