<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                              <img src="{{ .Site.BaseURL }}images/logo-estructuras-civiles-home.png">
                                <h2 class="boxed animation animated-item-1 fade-down">{{ .Site.Params.slider.title }}</h2>
                                <p class="boxed animation animated-item-2 fade-up">{{ .Site.Params.slider.subtitle }}</p>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
